torch
torchvision
timm
albumentations
wandb
numpy
pandas
scikit-learn
matplotlib
seaborn
tqdm
pillow
opencv-python
pyyaml
imagehash
pytest-cov
grad-cam
tensorboard
ema
rich
onnx
onnxruntime
memory-profiler
line-profiler
scipy
optuna
black
isort
pre-commit
torch>=2.0.0
